In [1]:
%cd ..

/media/Windows/Users/white/Documents/UTD/Fall19/NLP.6320.501/Project/STS-Project

In [2]:
import json

import numpy as np
import pandas as pd
import scipy.sparse
from scipy.stats import pearsonr
from sklearn.feature_extraction.text import TfidfVectorizer

from sts_wrldom.corpusReader import read_data
from sts_wrldom.enrichPipe import preprocess_raw
from sts_wrldom.depTFIDFModel import depFit_Predict
from sts_wrldom.utils import write_results

In [3]:
test = read_data(["test"])

test_docs = preprocess_raw(test)

Reading test-set from: data/test-set.txt
Test DF shape: (750, 3)
Test Pairs Omitted: 0 = 750 - 750

Enriching data from dataframe...
S1 parse failures: 0
S2 parse failures: 0

In [4]:
test_predics = depFit_Predict(test_docs)

test["prediction"] = [int(elem) for elem in np.round(test_predics)]

tmp = test[["id", "prediction"]]
write_results(tmp, "test", "depPredic")

In [5]:
test.head(5)

,id,s1,s2,prediction
0,p_1,The problem likely will mean corrective change...,He said the problem needs to be corrected befo...,4
1,p_2,The technology-laced Nasdaq Composite Index .I...,The broad Standard & Poor's 500 Index .SPX inc...,3
2,p_3,"""It's a huge black eye,"" said publisher Arthur...","""It's a huge black eye,"" Arthur Sulzberger, th...",4
3,p_4,SEC Chairman William Donaldson said there is a...,"""I think there's a building confidence that th...",4
4,p_5,Vivendi shares closed 1.9 percent at 15.80 eur...,"In New York, Vivendi shares were 1.4 percent d...",3

In [6]:
tmp.head(5)

    id  prediction
0  p_1           4
1  p_2           3
2  p_3           4
3  p_4           4
4  p_5           3