In [1]:
%cd ..

/media/Windows/Users/white/Documents/UTD/Fall19/NLP.6320.501/Project/STS-Project

In [2]:
import numpy as np
import pandas as pd

from sts_wrldom.corpusReader import read_data
from sts_wrldom.pawarModel import pawarFit_Predict, disambiguate_pipe
from sts_wrldom.utils import write_results

In [3]:
%%time
test = read_data(["test"])
test_disam = disambiguate_pipe(test, "Test")
test_predics = pawarFit_Predict(test_disam)

Reading test-set from: data/test-set.txt
Test DF shape: (750, 3)
Test Pairs Omitted: 0 = 750 - 750

Warming up PyWSD (takes ~10 secs)... took 7.1464598178863525 secs.

Disambiguating Test...
CPU times: user 32.4 s, sys: 923 ms, total: 33.4 s
Wall time: 33.3 s

In [4]:
test["prediction"] = [int(elem) for elem in np.round(test_predics)]

tmp = test[["id", "prediction"]]
write_results(tmp, "test", "pawarPredic")

In [5]:
test.head(5)

,id,s1,s2,prediction
0,p_1,The problem likely will mean corrective change...,He said the problem needs to be corrected befo...,5
1,p_2,The technology-laced Nasdaq Composite Index .I...,The broad Standard & Poor's 500 Index .SPX inc...,5
2,p_3,"""It's a huge black eye,"" said publisher Arthur...","""It's a huge black eye,"" Arthur Sulzberger, th...",4
3,p_4,SEC Chairman William Donaldson said there is a...,"""I think there's a building confidence that th...",5
4,p_5,Vivendi shares closed 1.9 percent at 15.80 eur...,"In New York, Vivendi shares were 1.4 percent d...",5

In [6]:
tmp.head(5)

    id  prediction
0  p_1           5
1  p_2           5
2  p_3           4
3  p_4           5
4  p_5           5